$color: #215EE9;

body {
    margin: 0;
    padding: 0;
    //background-color: #EBF1FF;
}

.container-main {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #EBF1FF;
    overflow: hidden;

}

header {
    //border: 2px solid red;
    width: 100%;
    height: 204px;
    padding-top: 149px;
    background-color: #EBF1FF;
    .container {
        width: 100%;
        height: 53px;
        //max-width: 1292px;
        padding: 0px 154px;
        margin: 0 auto;
        display: flex;
        //justify-content: space-between;
        align-items: center;
        position: relative;
       // border: 1px solid red;

        ::after {
            content: "";
            right: 72px;
            top: 17px;
            width: 22px;
            height: 22px;
            position: absolute;
            background: url('../img/Union.png') no-repeat;
            
        }

        .group129 {
            position: absolute;
            top: -110px;
            right: -210px;
            z-index: 0;
            //border: 1px solid red;
        }

        // &-row {

            &__logo {
                max-width: 144px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                //border: 2px solid red;
                height: 24px;

                img {
                    // width: 24px;
                    // height: 24px;
                }

                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #000000;
                    width: 110px;
                    
                }
            }

            &__nav {
                max-width: 442px;
                height: 19px;
                width: 100%;
                //margin-left: 294px;
                z-index: 100;
                ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                   // border: 2px solid red;
                    
                    li {
                        height: 100%;
                      //  border: 2px solid red;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        a {
                            text-decoration: none;
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 19px;
                            text-align: center;
                            color: #7D8790;
                        }
                    }
                }
               

            }

            &__login {
                max-width: 231px;
                width: 100%;
                display: flex;
                align-items: center;
                margin-left: 181px;
                z-index: 100;
                //border: 2px solid red;

                a.log {
                    width: 45px;
                    height: 19px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: #7D8790;
                    text-decoration: none;
                }

                .btn { 
                    display: inline-block;
                    width: 146px;
                    height: 52px;
                    padding: 17px 42px 16px 43px;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 16px;
                    line-height: 19px;
                    background-color: $color;
                    border-radius: 40px;
                    color: #FFFFFF;
                    transition: opacity 0.6s ease;
                    margin-left: 40px;
                    text-decoration: none;
                }
 
                .btn:hover, a.btn:hover {
                    opacity: 0.8;
                    color: #FFFFFF;
                }
            }
        }
    // }
}

main {
    width: 100%;
    //margin-top: 10px;

    .container {
        display: flex;
        padding: 0px 0px 0px 151px;
        width: 100%;
        //border: 1px solid red;
        position: relative;

        .group607 {
            position: absolute;
            left: -170px;
            bottom: 0;  
        }
        &-main {
            max-width: 568px;
            padding-top: 96px;
            //border: 1px solid red;

            &__content {
                h3 {
                    max-width: 205px;   //======?
                    height: 24px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    color: #215EE9;
                }
                h3 + * {
                    margin-top: 19px;
                }

                .head-h1 {
                    max-width: 543px;  //====max?
                    min-height: 198px;
                    h1 {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 65px;
                        line-height: 101.8%;
                        letter-spacing: -0.01em;
                        color: #215EE9;
                    }
                }
                .head-h1 + * {
                    margin-top: 30px;
                }

                p {
                    max-width: 520px;
                    height: 90px;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    color: #215EE9;    
                    opacity: 0.7;
                }
            }

            &__form {
                max-width: 515px;
                height: 68px;
                background: #FFFFFF;
                border-radius: 40px;
                margin-top: 52px;
                //border: 1px solid green;
                form {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    //justify-content: space-around;
                    align-items: center;
                    //border: 1px solid red;
                    img {
                        width: 20px;
                        height: 16px;
                        opacity: 0.3;
                        margin-left: 24px;
                    }
                    input {
                        width: 115px;
                        height: 19px;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000000;
                        opacity: 0.2;
                        margin-left: 21px;
                       // padding-left: 11px;

                    }
                    .btn {
                        display: inline-block;
                        width: 180px;
                        height: 50px;
                        background: #215EE9;
                        box-shadow: 0px 100px 161px rgba(33, 94, 233, 0.08), 0px 64.8148px 94.2894px rgba(33, 94, 233, 0.0607407), 0px 38.5185px 51.2815px rgba(33, 94, 233, 0.0485926), 0px 20px 26.1625px rgba(33, 94, 233, 0.04), 0px 8.14815px 13.1185px rgba(33, 94, 233, 0.0314074), 0px 1.85185px 6.33565px rgba(33, 94, 233, 0.0192593);
                        border-radius: 40px;
                        margin-left: 144px;
                       // padding-left: 50px;
                       //border: 1px solid red;
                    }

                    a {
                        width: 83px;
                        height: 19px;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 50px;
                        text-align: center;
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }

            &__adventage {
                margin-top: 119px;
                max-width: 568px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                //border: 1px solid red;

                .first {
                    width: 138px;
                }

                .second {
                    width: 140px;
                    //margin-left: 78px;
                    h2 {
                        color: $color;
                    }  
                }

                .third {
                    width: 141px;
                   // margin-left: 71px;
                }
                
                .item {
                    height: 127px;

                    h2 {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 56px;
                        line-height: 66px;
                        letter-spacing: -4px;
                        color: #333333;
                    }
                    p {
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        color: #000000;
                    }
                }
            }
        }

        &-image {
            position: relative;
            width: 100%;
            height: 1093px;
            margin-top: 14px;
            //border: 1px solid green;
            //overflow: hidden;
            &__main {
                position: absolute;
                top: 0;
                left: 0;
                padding: 0px 73px 0px 69px;
                z-index: 100;

            }

            &__shadow {
                position: absolute;
                top: 0;
                left: 0;
                // width: auto;
                // height: auto;
                z-index: 10;
                //border: 1px solid red;
            }

            &__vector6 {
                position: absolute;
                top: 38px;
                left: 263px;
                max-width: 523px;
                max-height: 192px;
                // width: auto;
                // height: auto;
                z-index: 1;
                //border: 1px solid red;
            }

            &__vector7 {
                position: absolute;
                top: 268px;
                left: 80px;
                // width: auto;
                // height: auto;
                z-index: 1;
            }
        }
    }
}

@media (max-width: 1300px) {
    .container-main {

    }

    header {
        .container {
            //padding: 0px 70px;
            &__logo {

            }
            &__nav {
               
            }
            &__login {

            }
        }
    }
}

@media (max-width: 1200px) {
    .container-main {

    }

    header {
        .group129 {
            display: none;
        }
        
        .container {
            
            &__logo {

            }
            &__nav {
                display: none;
            }
            &__login {

            }
        }
    }

    main {
        .container {
            flex-direction:column-reverse;
            //justify-content: flex-start;
            //justify-content: flex-start;
            padding: 0px;
            height: 1613px;
            width: auto;
            //border: 1px solid red;

            &-main {
                padding-top: 0px;
                
                //border: 1px solid rgb(65, 155, 118);
            }

            &-image {
               // border: 1px solid rgb(89, 0, 255);
                max-width: 740px;
                max-height: 885px;
                // display: block;
                 margin: 0 auto;
                &__main {
                    padding: 0px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                   // border: 1px solid red;
                }

                &__shadow, &__vector6, &__vector7 {
                    display: none;
                }

            }
        }
    }
}

@media (max-width: 820px) {
    .container-main {

    }

    header {
        .container {
            //padding: 0px 17px;
            &__logo {

            }

            &__login {

            }
        }
    }   
    main {
        .container {
            //flex-direction:column-reverse;
            //padding: 0px;

            &-main {
                .group607 {
                    display: none;
                }
                //padding-top: 0;
            }

            &-image {
                width: 740px;
                height: 885px;
                position: relative;
                //border: 1px solid red;
                margin: 0 auto;                

                &__main {

                    position: absolute;
                    top:0;
                    left: -30px;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .container-main {

    }

    header {
        padding-top: 24px;
        height: 73px;
        .container {
            padding: 0px 15px;
            position: relative;
            //border: 1px solid red;
            ::after {
                content: "";
                right: 17px;
                top: 10px;
                width: 32px;
                height: 32px;
                position: absolute;
                background-image: url('../img/menu.png');
            }
            &__logo {

            }

            &__login {
                display: none;
            }
        }
    }

   
}